mixin product()
    .product

        +product-gallery('page')

        .product__content 
            .product__article ОК875 
            +title('Фейерверк Коктейль - 36','','h1')
            .product__prices
                .product__price 6 150 ₽
                .product__price.product__price_old 7 150 ₽
            .product__options 
                +counter()
                +button('В корзину',' button_reverse button_svg_18','','','','','svg_cart','')
                +button('Видео','button_grey button_svg_18 button_reverse','','','','','svg_video','')
            +product-link()
            .product__table 
                table

                    tr
                        td Артикул
                        td ОК 875
                    tr
                        td Кол-во зарядов
                        td 36
                    tr
                        td Калибр
                        td 1,2
                    tr
                        td Высота подъема
                        td 35
                    tr
                        td Штук в упаковке
                        td 4
            .product__heading Описание
            .product__description 
                p Восхитительный замес спецэффектов!