mixin product()
    .product

        +product-gallery('page')

        .product__content 
            .product__article Арт.019293782
            +title('ЭКВИ-минус 20л.','','h1')
            .product__prices
                .product__price 760 ₽
                .product__price.product__price_old 900 ₽
            .product__options 
                .product-preview__select 
                    select(name="")
                        option(value="ЭКВИ-минус 1кг") ЭКВИ-минус 1кг
                        option(value="ЭКВИ-минус 5кг") ЭКВИ-минус 5кг
                +button('В корзину','button_blue button_reverse button_svg_18','','','','','svg_cart','')

            +product-link()

            .product__heading Описание

            .section__box.section__box_text
                p ЭКВИ-минус. Препарат для поддержания оптимального значения уровня рН pH воды плавательного бассейна (7.0 – 7.4). Своевременное использование препарата позволяет избежать образования известкового налёта на внутренних поверхностях бассейна и в фильтрующем оборудовании.
                ul
                    li жидкий
                    li 20 литров 25 кг., 30 литров 37кг.