mixin product-link()
    .product-link
        a.product-link__item(href="/") 
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_product_delivery")
            span Доставка
        a.product-link__item(href="/") 
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_product_geo")
            span Адреса магазинов
        a.product-link__item(href="/") 
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_product_info")
            span Инструкция по запуску