mixin advantage()
    .advantage__box
        .advantage
            .advantage__image 
                picture
                    source(data-srcset=img + 'advantage/webp/advantage_1.webp' type="image/webp") 
                    img(data-src= img + 'advantage/advantage_1.png' data-sizes="auto" alt="img").lazyload
            .advantage__title Серцифицированная продукция
            .advantage__text Все необходимые сертификаты и разрешительные документы
        .advantage
            .advantage__image 
                picture
                    source(data-srcset=img + 'advantage/webp/advantage_2.webp' type="image/webp") 
                    img(data-src= img + 'advantage/advantage_2.png' data-sizes="auto" alt="img").lazyload
            .advantage__title Лучшие цены
            .advantage__text Огромный ассортимент товара по лучшим ценам
        .advantage
            .advantage__image 
                picture
                    source(data-srcset=img + 'advantage/webp/advantage_3.webp' type="image/webp") 
                    img(data-src= img + 'advantage/advantage_3.png' data-sizes="auto" alt="img").lazyload
            .advantage__title Работаем с 2004 года
            .advantage__text Дорожим своей репутацией и доверием наших клиентов
        .advantage
            .advantage__image 
                picture
                    source(data-srcset=img + 'advantage/webp/advantage_4.webp' type="image/webp") 
                    img(data-src= img + 'advantage/advantage_4.png' data-sizes="auto" alt="img").lazyload
            .advantage__title Профессиональный подход
            .advantage__text Мы всерьез и с гордостью именуем себя профессионалами, а сейчас — время профессионалов