mixin social()
    .social
        a(href="/").social__item 
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_social_fb")
        a(href="/").social__item 
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_social_tw")
        a(href="/").social__item 
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_social_you")
        a(href="/").social__item 
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_social_tg")

        a(href="/").social__item 
            svg(class="")
                use(xlink:href= img + "sprite.svg#svg_social_wp")
