.header-bottom {

    background-color: #1d54a1;
 

   

    @media #{$m_1024} {
        display: none;
    }
    @media #{$m_768} {
        display: none;
    }
    @media #{$m_320} {
        display: none;
    }



    &__inner {
        width: 100%;
        max-width: 1300px;
        padding: 15px 30px;
        margin: 0 auto;

        height: 72px;
        display: flex;
        align-items: center;

    }

}