mixin tab()
    .tab
        .tab__links
            .tab__link.tab__link_active Маркопул Кемиклс (Россия) 🇷🇺
            .tab__link Bayrol Chemicals (Германия) 🇩🇪

        .tab__wrapper
            .tab__content 
                table

                    tr
                        td Название
                        td Фото
                        td Время работы
                        td Описание
                        td Цена за ед.
                    tr
                        td Вспышки импульсные
                        td 
                        td до 3 сек.
                        td Импульсная вспышка высотой от 2 до 8м.
                        td 700-1000 ₽
                    tr
                        td Фонтаны концертные, сценические до 8 метров
                        td 
                        td до 40 сек.
                        td Мгновенно поднимающийся столб золотистых искр, могут быть как напольной, так и подвесной установки.
                        td 500-1000 ₽
                    tr
                        td Фонтанная решётка от 6 изделий.
                        td 
                        td до 40 сек.
                        td Высота форса от 1 до 8м.(Золотые, серебряные звездки)Пиротехнические фонтаны, высота искрящегося форса от 1 до 8 метров, цвет искр золотистый, серебрянный, переходящий из одного в другой или комбинированный. В решётку (дорожку) заряжают от 6 фонтанов и более...
                        td 2400  ₽
            .tab__content 
                table

                    tr
                        td Название
                        td Фото
                        td Время работы
                        td Описание
                        td Цена за ед.
                    tr
                        td Вспышки импульсные
                        td 
                        td до 3 сек.
                        td Импульсная вспышка высотой от 2 до 8м.
                        td 700-1000 ₽
                    tr
                        td Фонтаны концертные, сценические до 8 метров
                        td 
                        td до 40 сек.
                        td Мгновенно поднимающийся столб золотистых искр, могут быть как напольной, так и подвесной установки.
                        td 500-1000 ₽
                    tr
                        td Фонтанная решётка от 6 изделий.
                        td 
                        td до 40 сек.
                        td Высота форса от 1 до 8м.(Золотые, серебряные звездки)Пиротехнические фонтаны, высота искрящегося форса от 1 до 8 метров, цвет искр золотистый, серебрянный, переходящий из одного в другой или комбинированный. В решётку (дорожку) заряжают от 6 фонтанов и более...
                        td 2400  ₽
