mixin form(cart)
    if cart 

        .form.form_cart 
            form(method="post").ms2_form#msOrder
                input(type="text" placeholder="Ваше Имя*" value="" name="")
                input(type="text" placeholder="Телефон*" value="" name="")
                input(type="text" placeholder="Электронная почта" value="" name="")
                input(type="text" placeholder="Город" value="" name="")
                input(type="text" placeholder="Адрес" value="" name="")
                input(type="text" placeholder="Почтовый индекс" value="" name="")
                <button class="button button_blue" type="submit" value="order/submit" name="ms2_action">Оформить заказ</button>

    else
        .form.form_validate
            form()
                input(type="text" placeholder="Ваше Имя*" value="" name="name" required)
                input(type="tel" placeholder="Телефон*" value="" name="tel" required minlength="18")
                input(type="text" placeholder="Электронная почта" value="" name="email" required)
               
                +button('Оставить заявку','button button_blue','/','')

                .form__consent нажимая кнопку вы соглашаетесь согласие на обработку персональных данных