mixin filter(main)

	if main
		.filter.filter_main
			.filter__box.filter__box_check

				fieldset.filter__fieldset(id='mse2_msoption|custom_length')
					label.filter__label.filter__label_check

						input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_1' value='упер салюты')
						span Супер салюты
							sup 5

					label.filter__label.filter__label_check(for='mse2_msoption|custom_brand_2')

						input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_2' value='Большие салюты и фейерверки')
						span Большие салюты и фейерверки
							sup 11


					label.filter__label.filter__label_check(for='mse2_msoption|custom_brand_3')

						input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_3' value='Салюты и фейрверки')
						span Салюты и фейрверки
							sup 1
					label.filter__label.filter__label_check(for='mse2_msoption|custom_brand_4')

						input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_4' value='Небольшие салюты и фейерверки')
						span Небольшие салюты и фейерверки
							sup 12

					label.filter__label.filter__label_check(for='mse2_msoption|custom_brand_5')

						input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_5' value='Фонтаны, дымы, файеры огневые')
						span Фонтаны, дымы, файеры огневые
							sup 6
					label.filter__label.filter__label_check.disabled(for='mse2_msoption|custom_brand_6')

						input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_6' value='Ракеты' disabled='')
						span Ракеты
							sup 14
					label.filter__label.filter__label_check(for='mse2_msoption|custom_brand_7')

						input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_7' value='Фестивальные шары')
						span Фестивальные шары
							sup 33
					label.filter__label.filter__label_check(for='mse2_msoption|custom_brand_8')

						input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_8' value='Петарды')
						span Петарды
							sup 10
					label.filter__label.filter__label_check(for='mse2_msoption|custom_brand_9')

						input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_9' value='Хлопушки и бенглальские огни')
						span Хлопушки и бенглальские огни
							sup 12
					label.filter__label.filter__label_check(for='mse2_msoption|custom_brand_10')

						input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_10' value='Наземные и летающие фейрверки')
						span Наземные и летающие фейрверки
							sup 25

	else

		.filter.filter_catalog
			//- .filter__heading Фильтры
			
			form.filter__form#mse2_filters(action='pilomaterialyi/brusok-1' method='post')


				.filter__wrapper
					h4.filter__title Категории
						svg(class="")
							use(xlink:href= img + "sprite.svg#svg_nav")

					.filter__box.filter__box_check.filter__box_hide

						.nav-mobile.nav-mobile_filter



				.filter__wrapper
					.filter__title Цена Р
						svg(class="")
							use(xlink:href= img + "sprite.svg#svg_nav")

					.filter__box.filter__box_range


						//- <label for="amount"></label>
						//-     <input type="text" id="amount"  style="border:1; color:#f6931f; font-weight:bold; opacity: 0;">

						.filter__range 
							label.filter__label от
								input(type='text' name='ms|price' id='mse2_ms|price_0' value='100')
								.filter__buffer


							label.filter__label до
								input(type='text' name='ms|price' id='mse2_ms|price_1' value='300')
								.filter__buffer
						<div id="slider-range_1" class="slider-range_container"></div>

				.filter__wrapper
					h4.filter__title Бренды

					.filter__box.filter__box_check.filter__box_hide
						
						fieldset.filter__fieldset(id='mse2_msoption|custom_length')
							label.filter__label.filter__label_check
								svg(class="filter__svg_check")
									use(xlink:href= img + "sprite.svg#filter_check")
								input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_1' value='BAYROL chemicals Германия')
								span BAYROL chemicals Германия
							label.filter__label.filter__label_check.disabled
								svg(class="filter__svg_check")
									use(xlink:href= img + "sprite.svg#filter_check")
								input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_1' value='INTEX' disabled='')
								span INTEX
							label.filter__label.filter__label_check
								svg(class="filter__svg_check")
									use(xlink:href= img + "sprite.svg#filter_check")
								input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_1' value='Крипсол Kripsol')
								span Крипсол Kripsol
							label.filter__label.filter__label_check
								svg(class="filter__svg_check")
									use(xlink:href= img + "sprite.svg#filter_check")
								input(type='checkbox' name='custom_length' id='mse2_msoption|custom_brand_1' value='Маркопул Кемиклс Россия')
								span Маркопул Кемиклс Россия













			.filter__buttons

				button.btn.button.button_black(type='submit' style="display: none;") Показать
				button.btn.button.button_black.button_reset(type='reset') Сбросить фильтры