extends ../layout/main
block variables
    -var title = 'price'
    -var description = 'price'
    -var pageClass = ''
    -var img = '/assets/themes/default/img/'
block content
    +breadcrumbs('','Профессиональная пиротехника ')
    .section
        .section__inner.section__inner_single
            +title('Профессиональная пиротехника','','h1','')
            .section__box.section__box_text 
                h3 Professional fan-shaped & shoots straight cake fireworks / Батареи салютов профессиональные
                table

                    tr
                        th Калибр
                        th Артикул
                        th Наименование
                        th Фото
                        th Фасовка
                        th Объем
                        th Вес
                        th Цена
                    tr
                        td 0,8"
                        td OK9901PCF1
                        td
                            strong
                                | 200s Five elements fan shape Red green blue orange yellow puple сrossette 20*25*170
                            br
                            |  200s Five elements fan shape      Red green blue orange yellow puple сrossette
                        td
                            img(src= img + 'product/product_1.png')
                        td 1/1 шт
                        td
                            | 0,046 м
                            sup 3
                        td 12 кг
                        td 24 000 p
                    tr
                        td 0,8"
                        td OK9902PCF1
                        td
                            strong 208s double Z shape Green strobe mine/purple сrossette 20*25*170
                            br
                        td
                            img(src='/upload/resize_cache/iblock/f73/137_91_2/f73ac60f062ba0ed492bca4cc2f5640e.jpg' width='0' height='0')
                        td 1/1 шт
                        td
                            | 0,045 м
                            sup 3
                        td 12 кг
                        td 24 000 p
                    tr
                        td 0,8"
                        td OK9902PCF2
                        td
                            strong 208s double Z shape Silver lion red сrossette 20*25*170
                            br
                        td
                            img(src='/upload/resize_cache/iblock/707/137_91_2/707fdfc4f60b1243ca73bb77e8311adc.jpg' width='0' height='0')
                        td 1/1 шт
                        td
                            | 0,045 м
                            sup 3
                        td 12 кг
                        td 24 000 p
                    tr
                        td 1,25"
                        td OK9903PCF1
                        td
                            strong 100s Z Shape red strobe/time rain willow/blue mine 1,25"
                            br
                        td
                            img(src='/upload/resize_cache/iblock/bfe/137_91_2/bfefb396b00f0e3543f674370f9bab93.jpg' width='0' height='0')
                        td 1/1 шт
                        td
                            | 0,057 м
                            sup 3
                        td 15 кг
                        td 20 000 p
                    tr
                        td 1,25"
                        td OK9903PCF2
                        td
                            strong 100s Z white strobe tail to red with green strobe with red mine 1,25"
                            br
                        td
                            img(src='/upload/resize_cache/iblock/34c/137_91_2/34c27564d580e648239b0362a0813e17.jpg' width='0' height='0')
                        td 1/1 шт
                        td
                            | 0,057 м
                            sup 3
                        td 15 кг
                        td 20 000 p
                    tr
                        td 1,25"
                        td OK9904PCF1
                        td
                            strong 49s Z shape red tail tocolor falling leaves with blue 1,25"
                            br
                        td
                            img(src='/upload/resize_cache/iblock/db6/137_91_2/db615ad39f9353a626636d7838b76e6f.jpg' width='0' height='0')
                        td 2/1 шт
                        td
                            | 0,059 м
                            sup 3
                        td 15 кг
                        td 10 000 p
                    tr
                        td 1,25"
                        td OK9904PCF2
                        td
                            strong 49s Z shape blue tail to ghost red with white strobe 1,25"
                            br
                        td
                            img(src='/upload/resize_cache/iblock/d32/137_91_2/d321ab4c1dae6bba1c0bad009d224cc0.jpg' width='0' height='0')
                        td 2/1 шт
                        td
                            | 0,059 м
                            sup 3
                        td 15 кг
                        td 10 000 p


                h3 Single firework rows / Ряды линии одиночных салютов

                table
                    tbody
                        tr
                            th Калибр
                            th Артикул
                            th Наименование
                            th Фото
                            th Фасовка
                            th Объем
                            th Вес
                            th Цена
                        tr
                            td 1,25"
                            td OK1501SR1
                            td
                                strong 10s Fan shape purple tail with green mine 1.25"
                                br
                            td
                                img(src='/upload/resize_cache/iblock/1fa/137_91_2/1fa45a131a6c7a58cde1548f720bfd79.jpg' width='0' height='0')
                            td 10/1 шт
                            td
                                | 0,067 м
                                sup 3
                            td 15 кг
                            td 2 000 p
                        tr
                            td 1,25"
                            td OK1501SR2
                            td
                                strong 10s Fan shape silver tail with red mine 1,25"
                                br
                            td
                                img(src='/upload/resize_cache/iblock/f48/137_91_2/f48953e95c0cba133d293072e9cb809d.jpg' width='0' height='0')
                            td 10/1 шт
                            td
                                | 0,067 м
                                sup 3
                            td 15 кг
                            td 2 000 p
                        tr
                            td 1,25"
                            td OK1501SR3
                            td
                                strong 10s green strobe tail with purple mine 1,25"
                                br
                            td
                                img(src='/upload/resize_cache/iblock/ad4/137_91_2/ad4dde6e8f54daa43a83d88d4727cd7f.jpg' width='0' height='0')
                            td 10/1 шт
                            td
                                | 0,067 м
                                sup 3
                            td 15 кг
                            td 2 000 p
                        tr
                            td 1,25"
                            td OK1501SR4
                            td
                                strong 10s Fan mine 1,25"
                                br
                            td
                                img(src='/upload/resize_cache/iblock/922/137_91_2/922133c00f0a2190b8f83f00e36c56ef.jpg' width='0' height='0')
                            td 10/1 шт
                            td
                                | 0,063 м
                                sup 3
                            td 16 кг
                            td 2 000 p
                        tr
                            td 0,8"
                            td OK1502SR1
                            td
                                strong 11s Fan shape silver to red crossette
                                br
                            td
                                img(src='/upload/resize_cache/iblock/f57/137_91_2/f5730cbee3dbf17ebf6b65c8dcc31c6f.jpg' width='0' height='0')
                            td 10/1 шт
                            td
                                | 0,03 м
                                sup 3
                            td 7 кг
                            td 2 200 p
                        tr
                            td 1,25"
                            td OK1503SR1
                            td
                                strong 13s white glitter mine spit to silver glitter waterfall 1,25"
                                br
                            td
                                img(src='/upload/resize_cache/iblock/8e1/137_91_2/8e15e4af029f519d7bc177914b53bc62.jpg' width='0' height='0')
                            td 10/1 шт
                            td
                                | 0,075 м
                                sup 3
                            td 22,5 кг
                            td 2 600 p
                        tr
                            td 1,25"
                            td OK1503SR2
                            td
                                strong 13s blue mine spit to brocade to blue horse tail 1,25"
                                br
                            td
                                img(src='/upload/resize_cache/iblock/723/137_91_2/723cf3eaa33023c6490f7b66d722a56a.jpg' width='0' height='0')
                            td 10/1 шт
                            td
                                | 0,075 м
                                sup 3
                            td 22,5 кг
                            td 2 600 p
                        tr
                            td 1,25"
                            td OK1505SR1
                            td
                                strong 20s Fan double-layer 1,25"
                                br
                            td
                                img(src='/upload/resize_cache/iblock/358/137_91_2/358f498386bdc9c2542cc95344f36129.jpg' width='0' height='0')
                            td 5/1 шт
                            td
                                | 0,062 м
                                sup 3
                            td 16 кг
                            td 4 000 p

                h3 Single firework shots / Одиночные салюты
                table
                    tbody
                        tr
                            th Калибр
                            th Артикул
                            th Наименование
                            th Фото
                            th Фасовка
                            th Объем
                            th Вес
                            th Цена
                        tr
                            td 2,5"
                            td SSHOK 251
                            td
                                strong "Single 2.5" 2.5"brocade crown bouquet up brocade crown"
                                br
                            td
                                img(src='/upload/resize_cache/iblock/320/137_91_2/2.jpg' width='0' height='0')
                            td 40 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 0 p
                        tr
                            td 1,25"
                            td OK1201S1
                            td
                                strong Red tiger tail 1,25"
                                br
                            td
                                img(src='/upload/resize_cache/iblock/e66/137_91_2/e66de82c4c6919e03510e669644e20ea.jpg' width='0' height='0')
                            td 100 шт
                            td
                                | 0,041 м
                                sup 3
                            td 12 кг
                            td 120 p
                        tr
                            td 1,25"
                            td OK1201S2
                            td
                                strong Brocade crown tiger tail 1,25"
                                br
                            td
                                img(src='/upload/resize_cache/iblock/5e5/137_91_2/5e561387aabffa12a89aba5e3d8b3f63.jpg' width='0' height='0')
                            td 100 шт
                            td
                                | 0,041 м
                                sup 3
                            td 12 кг
                            td 120 p
                        tr
                            td 1,5"
                            td OK1202S1
                            td
                                strong 1.5'' Green tiger tail
                                br
                            td
                                img(src='/upload/resize_cache/iblock/21a/137_91_2/21a86f96269cdc6ef682f5f7d034ac1e.jpeg' width='0' height='0')
                            td 60 шт
                            td
                                | 0,039 м
                                sup 3
                            td 10,5 кг
                            td 160 p


                h3 Shells & cylinders / Шары и цилиндры
                table
                    tbody
                        tr
                            th Калибр
                            th Артикул
                            th Наименование
                            th Фото
                            th Фасовка
                            th Объем
                            th Вес
                            th Цена
                        tr
                            td 4"
                            td SHOK40014
                            td
                                strong Shell 4.0" white strobe waterfall / белый мерцающий водопад
                                br
                                |  белый мерцающий водопад
                            td
                                img(src='/upload/resize_cache/iblock/4a4/137_91_2/34_img06.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | 0,051 м
                                sup 3
                            td 18 кг
                            td 0 p
                        tr
                            td 4"
                            td SHOK40024
                            td
                                strong Shell 4.0" yellow strobe / желтая мерцающая хризантема
                                br
                                |  желтая мерцающая хризантема
                            td
                                img(src='/upload/resize_cache/iblock/168/137_91_2/34_img06.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | 0,051 м
                                sup 3
                            td 18 кг
                            td 0 p
                        tr
                            td 4"
                            td SHOK40043
                            td
                                strong Shell 4.0" Sky blue to red glittering / красное мерцание на голубом небе
                                br
                                |  красное мерцание на голубом небе
                            td
                                img(src='/upload/resize_cache/iblock/935/137_91_2/34_img06.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | 0,051 м
                                sup 3
                            td 18 кг
                            td 0 p
                        tr
                            td 4"
                            td SHOK40044
                            td
                                strong Shell 4.0" White wave to orange glittering /белая волна оранжевое в мерцание
                                br
                                |  белая волна в мерцание
                            td
                                img(src='/upload/resize_cache/iblock/25b/137_91_2/34_img06.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | 0,051 м
                                sup 3
                            td 18 кг
                            td 0 p
                        tr
                            td 4"
                            td SHOK40071
                            td
                                strong
                                    | Shell 4.0" cylinder whirlpool blue coco crossette / букет торнадо с синими кроссетами
                                br
                                |  букет торнадо с синими коссетами
                            td
                                img(src='/upload/resize_cache/iblock/f9c/137_91_2/34_img06.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | 0,057 м
                                sup 3
                            td 16 кг
                            td 0 p
                        tr
                            td 4"
                            td SHOK40072
                            td
                                strong
                                    | Shell 4.0" cylinder whirlpool w/ green sound ring / букет торнадо с зелёными титаниум хриз. по кругу
                                br
                                |  букет торнадо с зелёными титаниум хриз. по кругу
                            td
                                img(src='/upload/resize_cache/iblock/53a/137_91_2/34_img06.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | 0,057 м
                                sup 3
                            td 16 кг
                            td 0 p
                        tr
                            td 5"
                            td SHOK50053
                            td
                                strong Shell 5.0" Colorful glitter / многоцветная мерцающая сфера
                                br
                                |  многоцветная мерцающая сфера
                            td
                                img(src='/upload/resize_cache/iblock/299/137_91_2/34_img06.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 14 p
                        tr
                            td 2.5"
                            td OK2501SH/3
                            td
                                strong Шар 2.5" OK2501SH (№3) (Brocade with tail strobe)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/18a/137_91_2/18a0ebf7a91a30e60206653499476177.jpg' width='0' height='0')
                            td 96 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 270 p
                        tr
                            td 2.5"
                            td OK2501SH/2
                            td
                                strong Шар 2.5" OK2501SH (№2) (Colorful chrys)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/770/137_91_2/770cebbf188583f67a80f6ef4cd4eb6a.jpg' width='0' height='0')
                            td 96 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 230 p
                        tr
                            td 2.5"
                            td OK2501SH/1
                            td
                                strong Шар 2.5" OK2501SH (№1) (Brocade crown)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/dd1/137_91_2/dd1f86ba7bf2a2fb7c538947b932692a.jpg' width='0' height='0')
                            td 96 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 270 p
                        tr
                            td 2.5"
                            td OK2502SH/4
                            td
                                strong Шар 2.5" OK2502SH (№4) (Red wave)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/12b/137_91_2/12bb35ef626499a3c253baa43c91a7be.jpg' width='0' height='0')
                            td 96 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 250 p
                        tr
                            td 2.5"
                            td OK2502SH/3
                            td
                                strong Шар 2.5" OK2502SH (№3) (Green wave)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/653/137_91_2/653960ff433da44c44ff34f3ba631def.jpg' width='0' height='0')
                            td 96 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 250 p
                        tr
                            td 2.5"
                            td OK2502SH/2
                            td
                                strong Шар 2.5" OK2502SH (№2) (Blue wave)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/c52/137_91_2/c5253d46c6d0e84cced682ffe4522fe1.jpg' width='0' height='0')
                            td 96 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 250 p
                        tr
                            td 2.5"
                            td OK2502SH/1
                            td
                                strong Шар 2.5" OK2502SH (№1) (Golden wave)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/f57/137_91_2/f57cb5350f7ef0f9a8813e6bb8c0920f.jpg' width='0' height='0')
                            td 96 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 250 p
                        tr
                            td 3"
                            td OK3001SH/1C
                            td
                                strong Цилиндр 3" OK3001SH (№1C) (Cylinder shells Time rain willow to thunder)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/d1b/137_91_2/d1b16b8cf4dbee1f20f3db14b450f265.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 450 p
                        tr
                            td 3"
                            td OK3002SH/3
                            td
                                strong Шар 3" OK3002SH (№3) (Strobe willow to strobe pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/221/137_91_2/2213780fd84d51d704fffa76082dd44a.jpg' width='0' height='0')
                            td 72 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 350 p
                        tr
                            td 3"
                            td OK3002SH/2
                            td
                                strong Шар 3" OK3002SH (№2) (Time rain willow to red)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/4c0/137_91_2/4c00d22126edcd7ea63c029524525cc5.jpg' width='0' height='0')
                            td 72 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 350 p
                        tr
                            td 3"
                            td OK3002SH/1
                            td
                                strong Шар 3" OK3002SH (№1) (Fresh red willow with silver coconut pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/c81/137_91_2/c81058ab438c94a0a538ec178f25646a.jpg' width='0' height='0')
                            td 72 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 350 p
                        tr
                            td 4"
                            td OK4001SH/2
                            td
                                strong Шар 4" OK4001SH (№2) (Red coconut crossette)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/fa8/137_91_2/fa84b2aff5c5b4570bd80094de6682ce.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 660 p
                        tr
                            td 4"
                            td OK4001SH/1
                            td
                                strong Шар 4" OK4001SH (№1) (Green wave crossette)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/94d/137_91_2/94d463abaa49413068062998cabfece1.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 660 p
                        tr
                            td 4"
                            td OK4001SH/3
                            td
                                strong Шар 4" OK4001SH (№3) (Big Golden titanium willow)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/1e1/137_91_2/1e1c2f1cb3ebb24f994f8720e59f6050.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 730 p
                        tr
                            td 4"
                            td OK4001SH/4
                            td
                                strong Шар 4" OK4001SH (№4) (Strobe flash crossette)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/06a/137_91_2/06a7be1c27408efedcab7763b17720d0.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 730 p
                        tr
                            td 4"
                            td OK4002SH/1C
                            td
                                strong
                                    | Цилиндр 4" OK4002SH (№1C) (Cylinder shells whirlpool silver dragon with strobe pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/489/137_91_2/489e35bc8c2f15469b3e7825cff6f7c6.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 200 p
                        tr
                            td 4"
                            td OK4002SH/2C
                            td
                                strong
                                    | Цилиндр 4" OK4002SH (№2C) (Cylinder shells whirlpool silver dragon with red crossette)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/b96/137_91_2/b9654f55fc5f64775095029d2de8b4cf.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 200 p
                        tr
                            td 4"
                            td OK4003SH/1
                            td
                                strong Шар 4" OK4003SH (№1) (Brocade with red strobe pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/d73/137_91_2/d73d78ec97f3556ebc9eacf105eedf62.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 730 p
                        tr
                            td 4"
                            td OK4003SH/2
                            td
                                strong Шар 4" OK4003SH (№2) (Red peony with time rain pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/2b2/137_91_2/2b2dbad04545e78f378499147c667e7d.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 660 p
                        tr
                            td 4"
                            td OK4003SH/3
                            td
                                strong Шар 4" OK4003SH (№3) (Brocade red & green double rings with strobe pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/8a8/137_91_2/8a8d50a16ef7c48c555946f41085320f.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 660 p
                        tr
                            td 4"
                            td OK4003SH/4
                            td
                                strong Шар 4" OK4003SH (№4) (Big red heart)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/b55/137_91_2/b5581341594c4aace79073f2053b2012.jpg' width='0' height='0')
                            td 36 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 720 p
                        tr
                            td 5"
                            td OK5001SH/1C
                            td
                                strong Цилиндр 5" OK5001SH (№1C) (Cylinder shells KING silver dragon with blue pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/df5/137_91_2/df5d234711b0d1f0b22400d2fd8fccbd.jpg' width='0' height='0')
                            td 18 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 800 p
                        tr
                            td 5"
                            td OK5002SH/1
                            td
                                strong Шар 5" OK5002SH (№1) (Red peony to sakura with sakura pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/df2/137_91_2/df276852d35ea690346472bfb5a852c5.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 000 p
                        tr
                            td 5"
                            td OK5002SH/2
                            td
                                strong Шар 5" OK5002SH (№2) (Super silver strobe)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/482/137_91_2/48282887e673e8d1616e8af76a288971.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 200 p
                        tr
                            td 5"
                            td OK5002SH/3
                            td
                                strong Шар 5" OK5002SH (№3) (Chrys to red and white strobe with blue pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/2d0/137_91_2/2d0d8b6d065464a0125a59576ac5e479.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 200 p
                        tr
                            td 5"
                            td OK5002SH/4
                            td
                                strong Шар 5" OK5002SH (№4) (Orange/RED glittering (Red blink extra))
                                br
                            td
                                img(src='/upload/resize_cache/iblock/940/137_91_2/940c25617e2f4dd36416102be66277d0.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 200 p
                        tr
                            td 5"
                            td OK5002SH/5
                            td
                                strong Шар 5" OK5002SH (№5) (Lemon glittering (Lemon blink extra))
                                br
                            td
                                img(src='/upload/resize_cache/iblock/80e/137_91_2/80e4a6bd303ecba14e4a338632372c9c.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 200 p
                        tr
                            td 5"
                            td OK5003SH/1
                            td
                                strong Шар 5" OK5003SH (№1) (Flower crown waterfall)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/0b9/137_91_2/0b924b778f1ae502d519340829777ba1.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 200 p
                        tr
                            td 5"
                            td OK5003SH/2
                            td
                                strong Шар 5" OK5003SH (№2) (Red ring with white strobe)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/1ab/137_91_2/1ab0fd1574807a67533f9ed1fefb2eb5.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 200 p
                        tr
                            td 5"
                            td OK5003SH/3
                            td
                                strong Шар 5" OK5003SH (№3) (Two of big silver chrysanthemums with time rain ring)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/18e/137_91_2/18e8bfc737cd7bce8358844d85e98ba4.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 200 p
                        tr
                            td 5"
                            td OK5003SH/4
                            td
                                strong Шар 5" OK5003SH (№4) (Golden spider with flowers and crosette)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/3ef/137_91_2/3efcbd3da49614cfbed882e24b2b8f67.jpg' width='0' height='0')
                            td 24 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 1 300 p
                        tr
                            td 6"
                            td OK6001SH/1C
                            td
                                strong
                                    | Цилиндр 6" OK6001SH (№1C) (Cylinder shells Double swirls with red flashing pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/606/137_91_2/606777f82f00761ce9c6d6ab3aa28050.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 500 p
                        tr
                            td 6"
                            td OK6002SH/1
                            td
                                strong Шар 6" OK6002SH (№1) (Brocade crown with white flashing pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/83e/137_91_2/83e6b6595c2e62df648aebf4b228929c.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 000 p
                        tr
                            td 6"
                            td OK6002SH/2
                            td
                                strong Шар 6" OK6002SH (№2) (Brocade crown to red strobe with red strobe pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/863/137_91_2/863069e01eb0c435d86c2311b1fb62bb.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 000 p
                        tr
                            td 6"
                            td OK6002SH/3
                            td
                                strong Шар 6" OK6002SH (№3) (Brocade crown with brocade tail)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/709/137_91_2/709093c4e2e172c119beb89830ca62b0.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 000 p
                        tr
                            td 6"
                            td OK6002SH/4
                            td
                                strong Шар 6" OK6002SH (№4) (Brocade to silver strobe with silver strobe pistile)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/8c4/137_91_2/8c4ffc4e654cb944bf207e08cbb3f906.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 000 p
                        tr
                            td 6"
                            td OK6002SH/5
                            td
                                strong
                                    | Шар 6" OK6002SH (№5) (Golden spider with orange ring to big green chrysanthemum pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/d89/137_91_2/d89821c832e7371a84b1de927190bbf1.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 000 p
                        tr
                            td 6"
                            td OK6003SH/1
                            td
                                strong Шар 6" OK6003SH (№1) (Purple green crossette double ring with golden strobe)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/a86/137_91_2/a869a516cb1a9237e56e410cb07fc695.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 000 p
                        tr
                            td 6"
                            td OK6003SH/2
                            td
                                strong
                                    | Шар 6" OK6003SH (№2) (Green crossette + Brocade red/White strobe jellyfish ring with red ring)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/519/137_91_2/519483d474df985a89f25bc53ba67878.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 000 p
                        tr
                            td 6"
                            td OK6003SH/3
                            td
                                strong Шар 6" OK6003SH (№3) (Multicolor butterfly with blue ring)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/8f0/137_91_2/8f0e8da2e676960aa5d44ab2bebc2f0d.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 000 p
                        tr
                            td 6"
                            td OK6003SH/4
                            td
                                strong Шар 6" OK6003SH (№4) (Flying Magic ball)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/63b/137_91_2/63b2c9ad2edf467ac9b7ecf4a646b6e6.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 000 p
                        tr
                            td 6"
                            td OK6003SH/5
                            td
                                strong Шар 6" OK6003SH (№5) (Red wave with time rain pistil)
                                br
                            td
                                img(src='/upload/resize_cache/iblock/a2c/137_91_2/a2ccd50b11253220d33f6cedfe9c7d31.jpg' width='0' height='0')
                            td 9 шт
                            td
                                | м
                                sup 3
                            td  кг
                            td 2 000 p
