extends ../layout/main
block variables
    -var title = 'text'
    -var description = 'text'
    -var pageClass = ''
    -var img = '/assets/themes/default/img/'
block content
    +breadcrumbs('','О нас')
    .section
        .section__inner.section__inner_single
            +title('Химия для бассейнов','','h1','')
            
            .section__box.section__box_text 
                p 
                    strong www.b150.ru / 
                p Купить средства для чистки бассейнов, хлорной и кислородной дезинфекции воды в бассейне, водоподготовки, химию для бассейнов, для обработки воды в басейне, Пи Аш РН Ph - жёсткость воды, альгициды альгитинн и дезальгин для борьбы и против роста водорослей в бассейне в городах Домодедово, Подольске, Климовске, Щербинке и Чехове, Московской области, Вы сможете посетив наши специализированные магазины "Бассейны и Фейерверки, оборудование и аксессуары, Химия для бассейнов" по следующим адресам:

            .section__box.section__box_text 

                p 
                    strong Выберите тип химии для бассейнов:
                +tab()
                
                

