.product-tag {

    display: flex;
    gap: 10px;
    flex-flow: wrap;

    z-index: 20;

    &__item {


        height: 30px;

        display: inline-flex;

        align-items: center;
        gap: 4px;

        padding: 0 6px;
        border-radius: 60px;
        background-color: #7ed957;

        span {
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
        
            letter-spacing: normal;
            text-align: left;
            color: #fff;
            text-transform: uppercase;
        }

        svg {
            flex-shrink: 0;
            height: 12px;
            width: 12px;
        }

       
    }
}