.product-tag {

    display: flex;
    gap: 10px;
    flex-flow: wrap;

    z-index: 20;
    &__item {
        

        height: 30px;

        display: inline-flex;

        align-items: center;
        gap: 4px;

        padding: 0 6px;
        border-radius: 60px;
        background-color: #f1823b;

        span {
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
            text-transform: uppercase;
        }

        svg {
            flex-shrink: 0;
            height: 14px;
            width: 14px;
        }

        &_video {

            background-color: transparent;

            svg {
     
                height: 24px;
                width: 24px;
            }
        }
    }
}