mixin product-tag(tag1,tag2,tag3)
    if tag1
        .product-tag
            .product-tag__item
                span хит
                svg(class="")
                    use(xlink:href= img + "sprite.svg#svg_tag_fire")


    else if tag2
        .product-tag
            .product-tag__item
                span хит
                svg(class="")
                    use(xlink:href= img + "sprite.svg#svg_tag_fire")

            .product-tag__item
                span Скидка
                svg(class="")
                    use(xlink:href= img + "sprite.svg#svg_tag_sale")
                    

    else if tag3
        .product-tag

            .product-tag__item
                span Скидка
                svg(class="")
                    use(xlink:href= img + "sprite.svg#svg_tag_sale")

