mixin cart-total()
    .cart-total
        //- +button('Вернуться к выбору','button_transparent button_catalog button_reverse','','','','','','','','/')
        //- +title('Оформление заказа','','','h2')
        //- form(action="/").cart-total__form
        //- .cart-total__inner 

        //- .cart-total__box
        .cart-total__caption Общее кол-во товаров: <span>4</span>
        .cart-total__price Итого: <span>2 500 000<span> <small>руб.</small>
        //- +button('Оформить заказ','button_black','','/')