mixin nav-footer()
    .nav-footer
        ul
            li Меню


            li 
                a(href="") Главная
            li 
                a(href="") Доставка
            li 
                a(href="") Оплата
            li 
                a(href="") Контакты   
        ul
            li Каталог



            li 
                a(href="") Химия для бассейнов
            li 
                a(href="") Бассейны Интекс (Intex)
            li 
                a(href="") Аксессуары