
include ../blocks/test/test
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/burger/burger
include ../blocks/button/button
include ../blocks/footer/footer
include ../blocks/form/form
include ../blocks/header/header
include ../blocks/header/header-bottom/header-bottom
include ../blocks/logo/logo
include ../blocks/nav/nav
include ../blocks/nav/nav-footer/nav-footer
include ../blocks/popup/popup
include ../blocks/preloader/preloader
//- include ../blocks/section/section
include ../blocks/title/title

include ../blocks/social/social
include ../blocks/top/top
include ../blocks/advantage/advantage
include ../blocks/service/service
include ../blocks/slider/slider
include ../blocks/first/first
include ../blocks/counter/counter
include ../blocks/product/product
include ../blocks/product/product-preview/product-preview
include ../blocks/product/product-tag/product-tag
include ../blocks/product/product-gallery/product-gallery
include ../blocks/product/product-link/product-link



include ../blocks/cart/cart
include ../blocks/cart/cart-mini/cart-mini
include ../blocks/cart/cart-total/cart-total

include ../blocks/search/search

include ../blocks/select/select
include ../blocks/filter/filter
include ../blocks/filter/filter-top/filter-top

block variables
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        meta(name="description", content=description)
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        style
            | #preloader {
            | position: fixed;
            | top: 0;
            | left: 0;
            | width: 100%;
            | height: 100%;
            | display: flex;
            | align-items: center;
            | justify-content: center;
            | background: #fff;
            | z-index: 999999;
            | }
            | #preloader.hide-preloader {
            | animation: hidePreloader 1s;
            | }
            | #preloader.preloader-hidden {
            | display: none;
            | }
            | @keyframes hidePreloader {
            | 0% {
            | opacity: 1;
            | }
            | 100% {
            | opacity: 0;
            | }
        include ../includes/styles
    body(class=pageClass)
        +preloader()
        +header()
        +header-bottom()
        block content
        +footer()
        +popup()
        #category_side 
            +button('','button_catalog button_close','','','','','','svg_close','')
            .nav-mobile.nav-mobile_side 
            +button('Заказать звонок','','','','#popup_callback')
            +social()
        #filter_side 
            +button('Свернуть','button_catalog','','#hide','','','','','','')
        include ../includes/scripts
