mixin header()
	header.header
		.header__inner 
			+logo('header')
			.header__buttons
				+button('Каталог','button_white button_border button_low button_svg_18','','','','','svg_burger')
			.header__search
				+search('','mobile')
				+search('main')
			+cart-mini()
			+button('Заказать звонок','button_blue','','','#popup_callback')
			+burger()