.burger {

    height: 44px;
    width: 40px;
    border-radius: 16px;
    border: solid 1px #1D54A1;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: all 0.2s ease;

    @media #{$m_1024} {
        display: flex;
    }
    @media #{$m_768} {
        display: flex;
    }
    @media #{$m_320} {
        display: flex;
    }


    svg {
        height: 24px;
        width: 24px;
        color: #1D54A1;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
}

    &:hover {
        border-color: #090F23;
        transition: all 0.2s ease;

        svg {
            color: #090F23;
            transition: all 0.2s ease;
        }
    }
}