mixin nav(cl)
    .nav
        ul



            li 
                a(href="/") Химия для бассейнов
                svg(class="nav__svg")
                    use(xlink:href= img + "sprite.svg#svg_nav")
                ul
                    li 
                        a(href="/") Маркопул Кемиклс (Россия) 🇷🇺
                        svg(class="nav__svg")
                            use(xlink:href= img + "sprite.svg#svg_nav")

                        ul
                            li 
                                a(href="/") Регулирование pH воды (рН кислотно-щелочной баланс)
                            li 
                                a(href="/") Дезинфекция бассейна
                            li 
                                a(href="/") Защита от водорослей
                            li 
                                a(href="/") Коагуляция
                            li 
                                a(href="/") Комплексная обработка воды в бассейне
                            li 
                                a(href="/") Препараты против известковых отложений.
                            li 
                                a(href="/") Дехлорирование и борьба с хлораминами.
                    li 
                        a(href="/") Bayrol Chemicals (Германия) 🇩🇪
                        svg(class="nav__svg")
                            use(xlink:href= img + "sprite.svg#svg_nav")
                        ul
                            li 
                                a(href="/") Регулирование уровня pH (рН кислотно-щелочной баланс)
                            li 
                                a(href="/") Дезинфекция воды в бассейне
                            li 
                                a(href="/") Регулирование уровня pH (рН кислотно-щелочной баланс)
                            li 
                                a(href="/") Борьба с водорослями.
                            li 
                                a(href="/") Коагулирование, консервация, стабилизация жёсткости
                    li 
                        a(href="/") Измерение параметров воды
            li 
                a(href="/") Бассейны Интекс (Intex)
                svg(class="nav__svg")
                    use(xlink:href= img + "sprite.svg#svg_nav")
                ul 
                    li 
                        a(href="/") Каркасные бассейны
                        svg(class="nav__svg")
                            use(xlink:href= img + "sprite.svg#svg_nav")
                        ul 
                            li 
                                a(href="/") Прямоугольные бассейны
                            li 
                                a(href="/") Круглые бассейны
            li 
                a(href="/") Аксессуары
                svg(class="nav__svg")
                    use(xlink:href= img + "sprite.svg#svg_nav")

                ul
                    li 
                        a(href="/") Лестницы для бассейнов
                    li 
                        a(href="/") Пылесосы подводные
                    li 
                        a(href="/") Системы фильтрации
                    li 
                        a(href="/") Тенты и покрывала
                    li 
                        a(href="/") Дополнительное оборудование
                        svg(class="nav__svg")
                            use(xlink:href= img + "sprite.svg#svg_nav")

                        ul
                            li 
                                a(href="/") ПВХ ПНД трубы и фитинги клеевое соединение



            li 
                a(href="/") Доставка
            li 
                a(href="/") Оплата
            li 
                a(href="/") Контакты